.play-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
    margin-left: 250px;
}

.play-container iframe{
    height: calc(75vh - 72px);
}

.video-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.footer-title {
    letter-spacing: 1px;
    line-height: 2rem;
}

.footer-btn-list {
    display: flex;
}

.footer-btn-list div {
    font-size: 1rem;
    color: var(--font-color);
    padding: 0.4rem 1rem;
    border-radius: var(--border-lg);
    margin-right: 1rem;
    cursor: pointer;
}

.footer-btn-list div:hover {
    background: var(--primary-color);
    color: var(--white);
}

.is-not-select{
    background-color: var(--container-color-dark);
}

.is-select{
    background: var(--primary-color);
}


.footer-description {
    line-height: 1.35rem;
}

.footer-description div p {
    padding-top: 1rem;
}

.comment-container {
    border-top: 1px solid var(--lightGrey);
    padding: 1.5rem 0;
}

.comment-container>h4 {
    padding-bottom: 1rem;
}

.comment {
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem
}

.avatar {
    width: 1rem;
    padding: 1rem;
    height: 1rem;
    background: var(--primary-color);
}

.comment .paragraph-sm {
    font-size: 0.9rem;
}

.comment-input {
    background: var(--bg-color);
    outline: none;
    border: none;
    color: var(--font-color);
    border-bottom: 0.5px solid var(--lightGrey);
    font-family: inherit;
    flex-grow: 1;
}

.input {
    display: inherit;
    flex-grow: 1;
    gap: 0.5rem
}

.input>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input .paragraph-md {
    cursor: pointer;
}

.comment-btn {
    padding: 4px 10px;
}

.disabled-btn {
    cursor: not-allowed;
}

.enabled-btn {
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .play-container {
        margin-left: 0rem;
        z-index: 2;
    }
}

@media screen and (max-width:500px) {
    .input {
        flex-direction: column;
    }

    .input>div {
        justify-content: flex-end;
    }

    .play-container {
        padding: 1rem;
    }
    .play-container iframe{
        height: calc(50vh - 106px);
    }
    .footer-btn-list {
        display: flex;
        justify-content: space-between;
    }

    .footer-btn-list div {
        padding: 0.5rem;
        font-size: 0.7rem;
        margin-right: 0;
        cursor:default
    }

    .footer-title {
        font-size: 0.8rem;
    }
    .footer-btn-list div .fa{
        margin-right: 0.1rem;
    }
}