.category-list {
    display: flex;
    gap: 1rem
}

.category {
    font-weight: var(--font-semiBold);
    font-size: 1rem;
    color: var(--font-color);
    background-color: var(--container-color-dark);
    padding: 0.4rem 1rem;
    border-radius: var(--border-lg);
    cursor: pointer;
}

.category:hover {
    background: var(--primary-color);
    color: var(--white);
}

.active-category {
    background-color: var(--primary-color);
}


@media screen and (max-width: 630px) {

    .category-list {
        justify-content: space-between;
        gap: 0.5rem
    }

    .category {
        font-size: 0.7rem;
        padding: 0.35rem 0.5rem;
        cursor: default
    }

}