@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-color: #e8e6e3;
    --bg-color: #141319;
    --navbar-color: #191921;
    --navbar-color-dark: #23232e;
    --container-color: #222230;
    --container-color-dark: #34343d;
    --primary-color:#d3931c;
    --danger-color:#e76464;
    color: var(--font-color)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-color);
    font-family: 'Encode Sans', sans-serif;
    letter-spacing:0.5px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}
