.modal-wrapper {
    background: #342e2ebf;    
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: 9999;
}

.modal {
    color: var(--font-color);
    background: var(--bg-color);
    padding: 1rem;
    gap: 1.2rem;
    width: 20rem
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.select-input-text {
    font-size: 0.9rem;
}

.modal-input input {
    border-radius: var(--border-sm);
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--font-color);
    background: var(--navbar-color-dark);
    width: fit-content;
}

.select-input,
.fa {
    cursor: pointer;
}

.secondary {
    background: var(--primary-color);
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-family: inherit;
    border-radius: 0;
}

@media screen and (max-width:500px) {
    .modal {
        width: 80%;
        gap:0.8rem
    }
    .modal-input input{
        margin-left: 0.2rem;
    }
}